@model eVoucher_BUS.Requests.CampaignRequests.CampaignCreateRequest
@{
    ViewData["title"] = "Create new campaign";
}

<div class="card-header bg-info">
    <h3 class="text-center font-weight-light my-4">Create new campaign</h3>
</div>
<div class="card-body bg-success">
    <form asp-action="Create" method="post" asp-controller ="Campaign" enctype="multipart/form-data">
        <div class="row mb-3">
            <div class="col-md-5">
                <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" asp-for="Name" type="text" required />
                    <input class="form-control" asp-for="PartnerAppUserId" type="number" value="@ViewBag.partnerid" hidden />
                    <label>Name</label>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" asp-for="Slogan" type="text" required />
                    <label>Slogan</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-5">
                <div class="form-floating mb-3">
                    <input class="form-control" asp-for="MetaKeyword" type="text" />
                    <label >Meta keyword</label>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-floating mb-3">
                    <input class="form-control" asp-for="MetaDescription" type="text" />
                    <label >Meta description</label>
                </div>
            </div>
        </div>
        <div class="row mb-3 ">
            <div class="col-md-2">
                <div class="form-check mb-1  ps-5 ">
                    <input class="form-check-input" asp-for="HomeFlag" type="checkbox" />
                    <label class="form-check-label text-white">Home Flag</label>                    
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check mb-1">
                    <input class="form-check-input" asp-for="HotFlag" type="checkbox"/>
                    <label class="form-check-label text-white">Hot Flag</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" asp-for="BeginningDate" type="datetime-local"/>
                    <label for="Password">Begin date</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" asp-for="EndingDate" type="datetime-local" />
                    <label for="ConfirmPassword">End date</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-floating mb-3 mb-md-0">
                <input class="form-control" asp-for="ImageFile" type="file" />

            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-5">
                <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" asp-for="CreatedBy" type="text" hidden="true" value="@User.Identity.Name" />                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" asp-for="CreatedTime" name="CreatedTime" type="datetime" 
                    value="@DateTime.Now" hidden="true" />
                </div>
            </div>
            
        </div>
        <div class="mt-4 mb-0">
            <div class="d-grid"><button class="btn btn-info btn-block" type="submit">Create Campaign</button></div>
        </div>
    </form>
    Status: <p>@ViewData["result"]</p>
</div>