@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-danger">Welcome</h1>
    <p class="display-6 text-primary">Place to develop customer base and raise your revenue</p>
</div>
